* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$colour:aliceblue;
%display{
    display: flex;
}

.nav-bar {
   @extend %display;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 14, 150);
    color: $colour;

    h2 {
        font-size: 2rem;
        margin: .5rem;
    }
}

.nav-links ul {
    margin: 0;
    padding: 0;
    @extend %display;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: $colour;
            padding: 1rem;
            display: block;
        }

        a:hover {
            background-color: rgb(5, 5, 87);
        }
    }
}

.toggle-btn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

    .bar {
        height: 3px;
        width: 100%;
        background-color: rgb(217, 217, 233);
        border-radius: 10px;
    }
}

@media(max-width:700px) {
    .toggle-btn {
        display: flex;

    }

    .nav-links {
        width: 100%;
        display: none;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;

        li {
            text-align: center;
        }

        a {
            padding: .5rem 1rem;
        }

    }

    .nav-links.active {
        display: flex;
    }
}
.para {
    margin-left: 25%;
    font-size: larger;
    margin-top: 23vh;
    width: 60%;
}
.tab{
    margin-top: 20%;
    margin-left:26% ;
}